<template>
  <v-app>
    <HelloWorld />
  </v-app>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>

<style></style>
