<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Signup</h1>
        <v-form ref="signUpForm" v-model="formValidity">
          <v-text-field
            label="Email"
            type="email"
            v-model="email"
            :rules="emailRules"
          ></v-text-field>
          <v-autocomplete
            label="Which browser do you use?"
            :items="browsers"
          ></v-autocomplete>
          <v-file-input label="Upload your profile Photo"></v-file-input>
          <!-- Date picker menu -->
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="birthday"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="birthday"
                label="Select your birthday"
                prepend-icon="mdi-calendar"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="birthday" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(birthday)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
          <!-- Date picker menu -->
          <v-checkbox
            v-model="agreeToTerms"
            :rules="agreeToTermsRules"
            label="Agree terms & conditions"
          ></v-checkbox>
          <v-btn
            type="submit"
            class="mr-4"
            :disabled="!formValidity"
            color="primary"
            >Submit</v-btn
          >
          <v-btn color="warning" class="mr-4" @click="resetValidation"
            >Reset Validation</v-btn
          >
          <v-btn color="error" @click="reset">Reset</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    agreeToTerms: false,
    agreeToTermsRules: [
      value => !!value || 'You must agree to the termns and conditions'
    ],
    email: '',
    emailRules: [
      value => !!value || 'Email is requiered.',
      value => value.indexOf('@') !== 0 || 'Email should have a username.',
      value => value.includes('@') || 'Email should contain an @'
    ],
    birthday: '',
    menu: '',
    browsers: ['Edge', 'Chrome', 'Safari', 'Brave', 'Opera', 'Firefox'],
    formValidity: false
  }),
  methods: {
    resetValidation() {
      this.$refs.signUpForm.resetValidation()
    },
    reset() {
      this.$refs.signUpForm.reset()
    }
  }
}
</script>
